<script setup>
import { ref , watch } from 'vue';

import { RouterLink, RouterView } from 'vue-router'
import footers from './views/footers.vue';
import i18n from './i18n.js';

const currentLanguage = ref(i18n.global.locale);

const switchLanguage = () => {
  console.log(currentLanguage.value)

  if(currentLanguage.value === "fr"){

      i18n.global.locale = 'en';
  }else if(currentLanguage.value === "en")
  {
      i18n.global.locale = 'fr';
  }
};

watch(currentLanguage, (newCurrent) => {

  if(newCurrent.value == 'fr'){

i18n.global.locale = 'en';
}else if(newCurrent.value === "en")
{
i18n.global.locale = 'fr';
}
});
</script>

<template>

<header>
    <div class="wrapper">

      <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <RouterLink class="navbar-brand" to="/"><img src="./assets/ulco.png" class="ulco_img">ULCO - Ressources Humaines</RouterLink>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <RouterLink class="nav-link active" aria-current="page" to="/">
                  <i class="bi bi-house-fill"></i>
                  <p>Home</p>
                </RouterLink>
              </li>
              <li class="nav-item">
                  <RouterLink class="nav-link active" aria-current="page" to="/personnel/">
                  <i class="bi bi-people-fill"></i>
                  <p>Personnels</p>
                </RouterLink>
              </li>
              <li class="nav-item">
                
                <RouterLink class="nav-link active" aria-current="page" to="/exemployes/">
                  <i class="bi bi-person-lines-fill"></i>
                  <p>Ex Employes</p>
                </RouterLink>

              </li>
              <li class="nav-item">
                  <RouterLink class="nav-link active" aria-current="page" to="/formations/">
                      <i class="bi bi-buildings"></i>
                      <p>Formations</p>
                  </RouterLink>
              </li>
              <li class="nav-item">
                <RouterLink class="nav-link active" aria-current="page" to="/absences/">
                  <i class="bi bi-person-fill-x"></i>
                  <p>Absence</p>
                </RouterLink>
              </li>

              <li class="nav-item">
                  <RouterLink class="nav-link active" aria-current="page" to="/conges/">
                    <i class="bi bi-airplane-fill"></i>
                    <p>Conges</p>
                  </RouterLink>
              </li>


            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div style="text-align: right; margin-bottom: 10px; width: 150px; float: left; margin: 5px;">
      <select class="form-select" id="languageSelect" v-model="currentLanguage" @change="switchLanguage">
        <option value="en">English</option>
        <option value="fr">Français</option>
      </select>
    </div>


  </header>
  

  <div class="container">
      <RouterView />
  </div>

<footers />
</template>

<style>
#navbarNav i{
  display: inline-block;
  margin: 3px;
}

#navbarNav p{
  display: inline-block;
  margin: 3px;
}

</style>




<!-- <script>
export default {
  name: 'App',
};
</script> -->

<style>
.ulco_img {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 3px;
}
</style>
