<template>
  <div class="creation-formation">
    <h2>Création d'une Nouvelle Formation</h2>
    
    <form @submit.prevent="createFormation" class="formation-form">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" v-model="nom" required>
      </div>

      <div class="form-group">
        <label for="dateDebut">Date de début:</label>
        <input type="date" v-model="dateDebut" required>
      </div>

      <div class="form-group">
        <label for="dateFin">Date de fin:</label>
        <input type="date" v-model="dateFin" required>
      </div>

      <div class="form-group">
        <label for="personnel">Personnel:</label>
        <select v-model="selectedPersonnel">
          <option v-for="personnel in personnels" :key="personnel.id" :value="personnel.id">
            {{ personnel.nom }} {{ personnel.prenom }}
          </option>
        </select>
      </div>

      <div class="button-group">
        <button type="submit" class="create-button">Créer Formation</button>
        <button @click="goBack" class="back-button">Retour</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      nom: '',
      dateDebut: '',
      dateFin: '',
      selectedPersonnel: null,
      personnels: [],
    };
  },
  mounted() {
    this.fetchPersonnels();
  },
  methods: {
    async fetchPersonnels() {
      try {
        const response = await fetch('http://localhost:8080/api/personnel/');
        if (response.ok) {
          this.personnels = await response.json();
        } else {
          console.error('Erreur lors de la récupération des personnels');
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des personnels', error);
      }
    },
    async createFormation() {
      try {
        const response = await fetch('http://localhost:8080/api/formation/create', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
              nom: this.nom,
              dateDebut: this.dateDebut,
              dateFin: this.dateFin,
              personnel: { id: this.selectedPersonnel },
          }),

        });

        if (response.ok) {
          // Rediriger vers la liste des formations après la création
          this.$router.push({ path: '/formations' });

        } else {
          console.error('Erreur lors de la création de la formation');
        }
      } catch (error) {
        console.error('Erreur lors de la création de la formation', error);
      }
    },
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
.creation-formation {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.formation-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input, select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.create-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background-color: #218838;
}

.back-button {
  padding: 10px 20px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #5a6268;
}
</style>
