<template>
  <div class="create-exemploye">
    <h2>Créer un nouvel Ancien Employé</h2>

    <!-- Sélectionnez un personnel existant -->
    <label for="personnel">Sélectionnez un personnel :</label>
    <select v-model="selectedPersonnel" class="personnel-select">
      <option v-for="personnel in personnelList" :key="personnel.id" :value="personnel.id">
        {{ personnel.nom }} {{ personnel.prenom }}
      </option>
    </select>

    <!-- Formulaire pour les détails de l'ExEmploye -->
    <form @submit.prevent="createExEmploye" class="exemploye-form">
      <label for="raison">Raison :</label>
      <input type="text" v-model="exEmploye.raison" required>

      <label for="dateDepart">Date de départ :</label>
      <input type="date" v-model="exEmploye.dateDepart" required>

      <div class="button-group">
        <button type="submit" class="create-button">Créer ExEmploye</button>
        <button @click="goBack" class="back-button" type="button">Retour</button>

      </div>
    </form>
  </div>
</template>
  
<script>
export default {
  data() {
    return {
      selectedPersonnel: null,
      exEmploye: {
        nom: "",
        prenom: "",
        dateDepart: null,
        raison: "",
      },
      personnelList: [],
    };
  },
  mounted() {
    this.fetchPersonnelList();
  },
  methods: {
    async fetchPersonnelList() {
      try {
        const response = await fetch("http://localhost:8080/api/personnel/");
        if (response.ok) {
          this.personnelList = await response.json();
        } else {
          console.error("Erreur lors de la récupération de la liste du personnel");
        }
      } catch (error) {
        console.error("Erreur lors de la récupération de la liste du personnel", error);
      }
    },
    async createExEmploye() {
      try {
        const selectedPersonnel = this.personnelList.find(personnel => personnel.id === this.selectedPersonnel);
        this.exEmploye.nom = selectedPersonnel.nom;
        this.exEmploye.prenom = selectedPersonnel.prenom;

        const response = await fetch("http://localhost:8080/api/ex_employe/create", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(this.exEmploye),
        });

        if (response.ok) {
          // Supprimer le personnel correspondant
          await fetch(`http://localhost:8080/api/personnel/supp/${this.selectedPersonnel}`, {
            method: "DELETE",
          });

          // Rediriger vers la liste des ExEmployes
          this.$router.push({ path: "/exemployes" });
        } else {
          console.error("Erreur lors de la création de l'ExEmploye");
        }
      } catch (error) {
        console.error("Erreur lors de la création de l'ExEmploye", error);
      }
    },
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>
  
<style scoped>
.create-exemploye {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.personnel-select {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.exemploye-form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.create-button,
.back-button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button {
  background-color: #007bff;
}

.create-button:hover {
  background-color: #0056b3;
}

.back-button {
  background-color: #6c757d;
}

.back-button:hover {
  background-color: #5a6268;
}

.button-group {
  display: flex;
  justify-content: space-between;
}
</style>
