<template>
  <div class="create-personnel">
    <h2>Création d'un Nouveau Personnel</h2>
    
    <form @submit.prevent="createPersonnel" class="personnel-form">
      <label for="nom">Nom:</label>
      <input type="text" v-model="nom" required>

      <label for="prenom">Prénom:</label>
      <input type="text" v-model="prenom" required>

      <label for="role">Rôle:</label>
      <input type="text" v-model="role" required>

      <label for="adresse">Adresse:</label>
      <input type="text" v-model="adresse" required>

      <label for="codePostal">Code Postal:</label>
      <input type="text" v-model="codePostal" required>

      <div class="button-container">
        <button type="submit" class="create-button">Créer Personnel</button>
        <router-link to="/personnel" class="back-button">Retour</router-link>
      </div>
    </form>
  </div>
</template>

  
<script>
export default {
  data() {
    return {
      nom: '',
      prenom: '',
      role: '',
      adresse: '',
      codePostal: '',
    };
  },
  methods: {
    async createPersonnel() {
      try {
        const response = await fetch('http://localhost:8080/api/personnel/create', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            nom: this.nom,
            prenom: this.prenom,
            role: this.role,
            adresse: this.adresse,
            codePostal: this.codePostal,
          }),
        });

        if (response.ok) {
          // Rediriger vers la liste des personnels après la création
          this.$router.push({ path: '/personnel' });
        } else {
          console.error('Erreur lors de la création du personnel');
        }
      } catch (error) {
        console.error('Erreur lors de la création du personnel', error);
      }
    },
  },
};
</script>
  
<style scoped>
.create-personnel {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.personnel-form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background-color: #218838;
}

.back-button {
  padding: 10px 20px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #5a6268;
}
</style>
