<script>
export default {
  data() {
    return {
      exEmployes: [], // Assurez-vous que exEmployes est initialisé ici
    };
  },
  mounted() {
    this.fetchExEmployes();
  },
  methods: {
    async fetchExEmployes() {
      try {
        const response = await fetch('http://localhost:8080/api/ex_employe/');
        if (response.ok) {
          this.exEmployes = await response.json(); // Assurez-vous que exEmployes est correctement défini ici
        } else {
          console.error('Erreur lors de la récupération des anciens employés');
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des anciens employés', error);
      }
    },
  },
};
</script>

<template>
  <div class="ex-employes-list">
    <h2>Liste des Anciens Employés</h2>
    <ul>
      <li v-for="exEmploye in exEmployes" :key="exEmploye.id" class="exemploye-item">
        <div class="exemploye-info">
          <p>{{ exEmploye.nom }} - {{ exEmploye.prenom }}</p>
          <p class="details-link">
            <router-link :to="{ name: 'exemploye-detail', params: { id: exEmploye.id } }">Voir les détails</router-link>
          </p>
        </div>
      </li>
    </ul>
    <router-link to="/create-exemploye" class="create-exemploye-link">Créer un nouvel ancien employé !</router-link>
  </div>
</template>

<style scoped>
.ex-employes-list {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

.exemploye-item {
  margin-bottom: 15px;
}

.exemploye-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-link {
  text-align: right;
}

.router-link-exact-active {
  color: blue; /* Couleur du lien actif */
}

.create-exemploye-link {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.create-exemploye-link:hover {
  background-color: #0056b3;
}
</style>
