<template>
  <div class="ancien-employe-details">
    <h2>Détails de l'Ancien Employé</h2>
    <div v-if="exEmploye">
      <form @submit.prevent="updateExEmploye" class="update-form">
        <div class="form-group">
          <label for="nom">Nom :</label>
          <input type="text" v-model="exEmploye.nom" required>
        </div>
        <div class="form-group">
          <label for="prenom">Prénom :</label>
          <input type="text" v-model="exEmploye.prenom" required>
        </div>
        <div class="form-group">
          <label for="raison">Raison :</label>
          <input type="text" v-model="exEmploye.raison" required>
        </div>
        <div class="form-group">
          <label for="dateDepart">Date de départ :</label>
          <input type="date" v-model="exEmploye.dateDepart" required>
        </div>

        <div class="button-group">
          <button type="submit" class="update-button">Enregistrer les modifications</button>
          <button @click="deleteExEmploye" class="delete-button">Supprimer</button>
        </div>
      </form>

      <button @click="goBack" class="back-button">Retour</button>
    </div>
    <div v-else>
      <p>Ancien Employé non trouvé</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      exEmploye: null,
    };
  },
  mounted() {
    this.fetchExEmployeDetails();
  },
  methods: {
    async fetchExEmployeDetails() {
      const id = this.$route.params.id;
      try {
        const response = await fetch(`http://localhost:8080/api/ex_employe/${id}`);
        if (response.ok) {
          this.exEmploye = await response.json();
        } else {
          console.error(`Erreur lors de la récupération de l'ancien employé avec l'ID ${id}`);
        }
      } catch (error) {
        console.error(`Erreur lors de la récupération de l'ancien employé avec l'ID ${id}`, error);
      }
    },
    async updateExEmploye() {
      try {
        const response = await fetch(`http://localhost:8080/api/ex_employe/update/${this.exEmploye.id}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(this.exEmploye),
        });

        if (response.ok) {
          console.log('Ancien employé mis à jour avec succès');
          this.$router.push({ path: '/exemployes' });
        } else {
          console.error('Erreur lors de la mise à jour de l\'ancien employé');
        }
      } catch (error) {
        console.error('Erreur lors de la mise à jour de l\'ancien employé', error);
      }
    },
    async deleteExEmploye() {
      if (confirm("Êtes-vous sûr de vouloir supprimer cet ancien employé?")) {
        try {
          const response = await fetch(`http://localhost:8080/api/ex_employe/supp/${this.exEmploye.id}`, {
            method: 'DELETE',
          });

          if (response.ok) {
            console.log('Ancien employé supprimé avec succès');
            this.$router.push({ path: '/exemployes' });
          } else {
            console.error('Erreur lors de la suppression de l\'ancien employé');
          }
        } catch (error) {
          console.error('Erreur lors de la suppression de l\'ancien employé', error);
        }
      }
    },
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
.ancien-employe-details {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.detail-item {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.update-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.update-button,
.delete-button,
.back-button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-button {
  background-color: #007bff;
}

.update-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

.back-button {
  background-color: #6c757d;
}

.back-button:hover {
  background-color: #5a6268;
}
</style>
