<template>
  <div class="formation-list">
    <h2>Liste des Formations</h2>
    <ul>
      <li v-for="formation in formations" :key="formation.id" class="formation-item">
        <div class="formation-details">
          <router-link :to="{ name: 'formation-detail', params: { id: formation.id }}" class="formation-link">
            {{ formation.nom }}
          </router-link>
          <div class="formation-info">
            <span>{{ formation.dateDebut }} - {{ formation.dateFin }}</span>
            <span>{{ formation.personne }}</span>
          </div>
        </div>
      </li>
    </ul>
    <router-link to="/create-formation" class="create-formation-link">Créer une nouvelle formation !</router-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formations: [],
    };
  },
  mounted() {
    this.fetchFormations();
  },
  methods: {
    async fetchFormations() {
      try {
        const response = await fetch('http://localhost:8080/api/formation/');
        if (response.ok) {
          this.formations = await response.json();
        } else {
          console.error('Erreur lors de la récupération des formations');
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des formations', error);
      }
    },
  },
};
</script>

<style scoped>
.formation-list {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

.formation-item {
  margin-bottom: 15px;
}

.formation-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.formation-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formation-info {
  display: flex;
  align-items: center;
}

.formation-info span {
  margin-right: 10px;
}

.create-formation-link {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.create-formation-link:hover {
  background-color: #0056b3;
}
</style>
