<template>
  <div class="formation-details-container">
    <h2>Détails de la Formation</h2>
    <div v-if="formation" class="formation-form">
      <form @submit.prevent="updateFormation">
        <div class="form-group">
          <label for="nom">Nom:</label>
          <input type="text" v-model="nom" required>
        </div>
        <div class="form-group">
          <label for="dateDebut">Date de début:</label>
          <input type="date" v-model="dateDebut" required>
        </div>
        <div class="form-group">
          <label for="dateFin">Date de fin:</label>
          <input type="date" v-model="dateFin" required>
        </div>
        <div class="form-group">
          <label for="personnel">Personnel:</label>
          <select v-model="selectedPersonnel">
            <option v-for="personnel in personnels" :key="personnel.id" :value="personnel.id">
              {{ personnel.nom }} {{ personnel.prenom }}
            </option>
          </select>
        </div>
        <div class="button-group">
          <button type="submit" class="update-button">Mettre à jour la Formation</button>
          <button @click="deleteFormation" class="delete-button">Supprimer</button>
          <button @click="goBack" class="back-button">Retour</button>
        </div>
      </form>
    </div>
    <div v-else>
      <p>Formation non trouvée</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formation: null,
      nom: '',
      dateDebut: '',
      dateFin: '',
      selectedPersonnel: null,
      personnels: [],
    };
  },
  mounted() {
    this.fetchFormationDetails();
    this.fetchPersonnels();
  },
  methods: {
    async fetchFormationDetails() {
      const id = this.$route.params.id;
      try {
        const response = await fetch(`http://localhost:8080/api/formation/${id}`);
        if (response.ok) {
          this.formation = await response.json();
          this.populateFormWithFormationData();
        } else {
          console.error(`Erreur lors de la récupération de la formation avec l'ID ${id}`);
        }
      } catch (error) {
        console.error(`Erreur lors de la récupération de la formation avec l'ID ${id}`, error);
      }
    },
    async fetchPersonnels() {
      try {
        const response = await fetch('http://localhost:8080/api/personnel/');
        if (response.ok) {
          this.personnels = await response.json();
        } else {
          console.error('Erreur lors de la récupération des personnels');
        }
      } catch (error) {
        console.error('Erreur lors de la récupération des personnels', error);
      }
    },
    populateFormWithFormationData() {
      this.nom = this.formation.nom;
      this.dateDebut = this.formation.dateDebut;
      this.dateFin = this.formation.dateFin;
      this.selectedPersonnel = this.formation.personnel ? this.formation.personnel.id : null;
    },
    async updateFormation() {
      const id = this.$route.params.id;
      try {
        const response = await fetch(`http://localhost:8080/api/formation/update/${id}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            id: this.formation.id,
            nom: this.nom,
            dateDebut: this.dateDebut,
            dateFin: this.dateFin,
            personnel: {
              id: this.selectedPersonnel,
              nom: this.selectedPersonnel.nom,
              prenom: this.selectedPersonnel.prenom,
            },
          }),
        });

        if (response.ok) {
          console.log('Formation mise à jour avec succès');
          this.$router.push({ path: '/formations' });
        } else {
          console.error('Erreur lors de la mise à jour de la formation');
        }
      } catch (error) {
        console.error('Erreur lors de la mise à jour de la formation', error);
      }
    },
    async deleteFormation() {
      const id = this.$route.params.id;
      if (confirm("Êtes-vous sûr de vouloir supprimer cette formation ?")) {
        try {
          const response = await fetch(`http://localhost:8080/api/formation/supp/${id}`, {
            method: 'DELETE',
          });

          if (response.ok) {
            console.log('Formation supprimée avec succès');
            this.$router.push({ path: '/formations' });
          } else {
            console.error('Erreur lors de la suppression de la formation');
          }
        } catch (error) {
          console.error('Erreur lors de la suppression de la formation', error);
        }
      }
    },
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
.formation-details-container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.formation-form {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-button {
  background-color: #007bff;
  color: #fff;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.back-button {
  background-color: #6c757d;
  color: #fff;
}
</style>
