<script setup>

import ListMenu from './ListMenu.vue'

</script>

<template>
    <h1>Ressources Humaines</h1>
    <br>
    <div class="container">
        <ListMenu />
    </div>

</template>

<style>
h1{
    text-align: center;
    margin-top: 5px;
}
</style>