<script setup>
import ListAbsences from './rh_pages/Absences/ListAbsences.vue'
import ListConges from './rh_pages/Conges/ListConges.vue';

import { RouterLink, RouterView } from 'vue-router'

</script>

<template>
    <div class="container" align="center">

            <RouterLink class="card bg-primary" to="/personnel/">
                <i class="bi bi-people-fill"></i>
                <p>Personnels</p>
            </RouterLink>
            
            <RouterLink class="card bg-primary" to="/exemployes/">
                <i class="bi bi-person-lines-fill"></i>
                <p>Ex Employes</p>
            </RouterLink>

            <RouterLink class="card bg-primary" to="/formations/">
                <i class="bi bi-buildings"></i>
                <p>Formations</p>
            </RouterLink>

            <RouterLink class="card bg-primary" to="/absences/">
                <i class="bi bi-person-fill-x"></i>
                <p>Absence</p>
            </RouterLink>

            <RouterLink class="card bg-primary" to="/conges/">
                <i class="bi bi-airplane-fill"></i>
                <p>Conges</p>
            </RouterLink>
    </div>

    

    
</template>

<style>
.card {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
    border: none;
}

.card i {
    font-size: 70px;
    color: #fff;

}

.card p {
    color: #fff;
    font-size: 19px;
}
</style>