<template>
  <div class="personnel-details">
    <h2>Détails du Personnel</h2>
    <div class="detail-item">
      <label>Nom: </label>
      <input v-model="personnel.nom" />
    </div>
    <div class="detail-item">
      <label>Prénom: </label>
      <input v-model="personnel.prenom" />
    </div>
    <div class="detail-item">
      <label>Rôle: </label>
      <input v-model="personnel.role" />
    </div>
    <div class="detail-item">
      <label>Adresse: </label>
      <input v-model="personnel.adresse" />
    </div>
    <div class="detail-item">
      <label>Code Postal: </label>
      <input v-model="personnel.codePostal" />
    </div>

    <div class="button-container">
      <button @click="confirmDelete" class="delete-button">Supprimer le personnel</button>

      <button @click="updatePersonnel" class="update-button">Enregistrer les modifications</button>

      <button @click="goBack" class="back-button">Retour</button>
    </div>
  </div>
</template>

  
<script>
import axios from 'axios';

export default {
  data() {
    return {
      personnel: {},
    };
  },
  mounted() {
    this.fetchPersonnelDetails();
  },
  methods: {
    async fetchPersonnelDetails() {
      try {
        const id = this.$route.params.id;
        const response = await axios.get(`http://localhost:8080/api/personnel/${id}`);
        this.personnel = response.data;
      } catch (error) {
        console.error('Erreur lors de la récupération des détails du personnel', error);
      }
    },

    async confirmDelete() {
      const confirmResult = window.confirm('Êtes-vous sûr de vouloir supprimer ce personnel ?');
      if (confirmResult) {
        await this.deletePersonnel();
      }
    },

    async deletePersonnel() {
      try {
        const id = this.$route.params.id;
        await axios.delete(`http://localhost:8080/api/personnel/supp/${id}`);
        alert('Le personnel a été supprimé avec succès.');
        
        this.$router.push({ path: '/personnel' });
      } catch (error) {
        console.error('Erreur lors de la suppression du personnel', error);
      }
    },

    async updatePersonnel() {
      try {
        const id = this.$route.params.id;
        await axios.put(`http://localhost:8080/api/personnel/update/${id}`, this.personnel);
        alert('Les modifications ont été enregistrées avec succès.');
        
        this.$router.push({ path: '/personnel' });
      } catch (error) {
        console.error('Erreur lors de la mise à jour du personnel', error);
      }
    },

    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>
<style scoped>
.personnel-details {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.detail-item {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button,
.update-button,
.back-button {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

.update-button {
  background-color: #007bff;
}

.update-button:hover {
  background-color: #0056b3;
}

.back-button {
  background-color: #6c757d;
}

.back-button:hover {
  background-color: #6c757d;
}
</style>
