<template>
  <div class="personnels-list">
    <h2>Liste des Personnels</h2>
    <ul>
      <li v-for="personnel in personnels" :key="personnel.id" class="personnel-item">
        <div class="personnel-info">
          <span>{{ personnel.nom }} {{ personnel.prenom }}</span>
          <router-link :to="{ name: 'personnel-detail', params: { id: personnel.id } }">Voir détails</router-link>
        </div>
      </li>
    </ul>

    <router-link to="/create-personnel" class="create-personnel-link">Créer un nouveau personnel</router-link>
  </div>
</template>
  
<script>
export default {
  data() {
    return {
      personnels: [],
    };
  },
  mounted() {
    this.fetchPersonnels();
  },
  methods: {
    async fetchPersonnels() {
      try {
        const response = await fetch('http://localhost:8080/api/personnel/');
        const data = await response.json();
        this.personnels = data;
      } catch (error) {
        console.error('Erreur lors de la récupération des personnels', error);
      }
    },
  },
};
</script>
  
<style scoped>
.personnels-list {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

.personnel-item {
  margin-bottom: 20px; /* Augmenter l'espacement entre les éléments de la liste */
}

.personnel-info {
  display: flex;
  justify-content: space-between; /* Aligner les éléments horizontalement */
  align-items: center; /* Aligner les éléments verticalement */
}

.personnel-info span {
  flex-grow: 1; /* Fait en sorte que le nom du personnel prenne autant d'espace que possible */
}

.router-link-exact-active {
  color: blue; /* Couleur du lien actif */
}

.create-personnel-link {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.create-personnel-link:hover {
  background-color: #0056b3;
}
</style>
