<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';

const router = useRouter();

const conge = ref({
    dateDepart: '',
    dateReprise: '',
    natConges: '',
    personnel: {
        id: 0
    }
});

const personnels = ref({});
const loading_selection = ref(true);

const submitForm = async () => {
    try {
        conge.value.dateDepart = formatToYYYYMMDD(conge.value.dateDepart);
        conge.value.dateReprise = formatToYYYYMMDD(conge.value.dateReprise);

        await axios.post('http://127.0.0.1:8080/api/conges', conge.value);
        router.replace('/conges/');
    } catch (error) {
        console.error('erreur : ', error);
    }
};

const formatToYYYYMMDD = (dateString) => {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
};

const fetchAllPersonnel = async () => {
    try {
        const response = await axios.get('http://127.0.0.1:8080/api/personnel/');
        personnels.value = response.data;
        loading_selection.value = false;
    } catch (error) {
        loading_selection.value = false;
    }
};

onMounted(() => {
    fetchAllPersonnel();
});
</script>

<template>
    <br>
    <h1>{{ $t('creation_conges') }}</h1>
    <div class="container" align="left">
      <form @submit.prevent="submitForm">
        <div class="mb-3">
          <label for="title" class="form-label">{{ $t('personnel_label') }}*</label>
          <select v-if="!loading_selection" v-model="conge.personnel.id" class="form-select">
            <option v-for="p in personnels" :key="p.id" :value="p.id">{{ p.id }}. {{ p.nom }} {{ p.prenom }}</option>
          </select>
          <center>
            <div v-if="loading_selection" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">{{ $t('chargement_selection') }}</span>
            </div>
          </center>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">{{ $t('date_debut_label') }}</label>
          <input type="date" class="form-control" v-model="conge.dateDepart">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">{{ $t('date_reprise_label') }}</label>
          <input type="date" class="form-control" v-model="conge.dateReprise">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">{{ $t('nature_conges_label') }}</label>
          <input type="text" class="form-control" v-model="conge.natConges">
        </div>
        <button type="submit" class="btn btn-primary">{{ $t('soumettre') }}</button>
      </form>
    </div>
</template>
