<script setup>
import { ref, onMounted, computed } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';

const router = useRouter();

const conges = ref([]);
const loading = ref(true);

const itemsPerPage = 5;
const currentPage = ref(1);

const totalPages = computed(() => Math.ceil(conges.value.length / itemsPerPage));

const displayedConges = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage;
  const end = start + itemsPerPage;
  return conges.value.slice(start, Math.min(end, conges.value.length));
});


const fetchConges = async () => {
  try {
    const response = await axios.get('http://127.0.0.1:8080/api/conges');
    conges.value = response.data;
    loading.value = false;
  } catch (error) {
    console.error('Error fetching conges:', error);
    loading.value = false;
  }
};


function parseISODate(dateString) {
  const parsedDate = new Date(dateString);

  if (!isNaN(parsedDate.getTime())) {
    return parsedDate;
  } else {
    console.error('Date invalide');
    return null;
  }
}

onMounted(() => {
  fetchConges();
});

const deleteConges = async (conge) => {
    try {
        
        const confirmed = window.confirm('Êtes-vous sûr de vouloir supprimer ce conge ?');
        if(confirmed){
            loading.value = true;
            await axios.delete(`http://127.0.0.1:8080/api/conges/${conge.idconges}`);
            fetchConges();
            loading.value = false;
        }
    } catch (error) {
        console.error('Error deleting product:', error);
        loading.value = false;
    }
}

const ShowConges = (conge) => {

  router.push({ name: 'congesShow', params: { id: conge.idconges.toString() } });
};

const CreateConges = () => {
    router.push({name: 'congesCreate'})
}

const UpdateConges = (conge) => {
  router.push({name: 'congesEdite', params: { id: conge.idconges.toString() } });
}

const prevPage = () => {
  if (currentPage.value > 1) {
    currentPage.value--;
  }
};

const nextPage = () => {
  if (currentPage.value < totalPages.value) {
    currentPage.value++;
  }
};

const gotoPage = (page) => {
  if (page >= 1 && page <= totalPages.value) {
    currentPage.value = page;
  }
};
</script>

<template>
    <div>
      <h3>{{ $t('list_conges') }}</h3>
  
      <center>
        <div v-if="loading" class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </center>
  
      <div v-if="!loading">
        <table class="table table-primary table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ $t('personnel') }}</th>
              <th scope="col">{{ $t('date_depart') }}</th>
              <th scope="col">{{$t('date_reprise')}}</th>
              <th scope="col">{{ $t('nature_conges') }}</th>
              <th scope="col">{{ $t('show') }}</th>
              <th scope="col">{{ $t('edite') }}</th>
              <th scope="col">{{ $t('delete') }}</th>
            </tr>
          </thead>
  
          <tbody>
            <tr v-for="(conge, index) in displayedConges" :key="index">
              <th scope="row">{{ (currentPage - 1) * itemsPerPage + index + 1 }}</th>
              <td>{{ conge.personnel ? conge.personnel.id : "NA" }}</td>
              <td>{{ parseISODate(conge.dateDepart) }}</td>
              <td>{{ parseISODate(conge.dateReprise)}}</td>
              <td>{{ conge.natConges }}</td>
              <td><button class="btn btn-primary" @click="ShowConges(conge)">{{ $t('show') }}</button></td>
              <td><button class="btn btn-success" @click="UpdateConges(conge)">{{ $t('edite') }}</button></td>
              <td><button class="btn btn-danger" @click="deleteConges(conge)">{{ $t('delete') }}</button></td>
            </tr>
          </tbody>
        </table>
  
        <!-- Pagination -->
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" :class="{ disabled: currentPage === 1 }">
              <button class="page-link" @click="prevPage" :disabled="currentPage === 1">
                {{ $t('previous') }}
              </button>
            </li>
  
            <li v-for="page in totalPages" :key="page" class="page-item" :class="{ active: currentPage === page }">
              <button class="page-link" @click="gotoPage(page)">{{ page }}</button>
            </li>
  
            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
              <button class="page-link" @click="nextPage" :disabled="currentPage === totalPages">
                {{$t('next')}}
              </button>
            </li>
          </ul>
        </nav>
  
        <button class="btn btn-primary add_absent" @click="CreateConges()">{{$t('add')}}</button>
      </div>
    </div>
  </template>

<style>
h3 {
    text-align: center;
}

#loader {
    text-align: center;
}

.add_absent {
  align: center;
}
</style>