<script setup>
import { ref , onMounted } from 'vue'
import axios from 'axios'
import { useRouter } from 'vue-router'

const router = useRouter();
const id = router.currentRoute.value.params.id;
const loading = ref(true);

const conge = ref({
    idconges: null,
    dateDepart: '',
    dateReprise: '',
    natConges: '',
    personnel: {
        id: 0
    }
})

const fetchData = async () => {
    try {
        
        const response = await axios.get(`http://127.0.0.1:8080/api/conges/${id}`);
        conge.value = response.data;

        loading.value = false;
    } catch (error) {
        loading.value = false;
        console.error('error fetching data', error);
    }
}

onMounted(fetchData);


const UpdateConges = (conge) => {
  router.push({name: 'congesEdite', params: { id: conge.idconges.toString() } });
}
</script>

<template>
  <div>
    <h1>{{ $t('voirconges') }}</h1>

    <div v-if="loading" class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div v-if="!loading" class="container mt-3">
      <div class="mb-3">
        <label for="title" class="form-label">{{ $t('conges_id') }}</label>
        <p class="form-control">{{ conge.idconges }}</p>
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">{{ $t('personnel_id') }}</label>
        <p class="form-control">{{ conge.personnel ? conge.personnel.id : $t('not_available') }}</p>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">{{ $t('nom') }}</label>
        <p class="form-control">{{ conge.personnel ? conge.personnel.nom : $t('not_available') }}</p>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">{{ $t('prenom') }}</label>
        <p class="form-control">{{ conge.personnel ? conge.personnel.prenom : $t('not_available') }}</p>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">{{ $t('role') }}</label>
        <p class="form-control">{{ conge.personnel ? conge.personnel.nom : $t('not_available') }}</p>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">{{ $t('adresse') }}</label>
        <p class="form-control">{{ conge.personnel ? conge.personnel.adresse : $t('not_available') }}</p>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">{{ $t('code_postal') }}</label>
        <p class="form-control">{{ conge.personnel ? conge.personnel.codePostal : $t('not_available') }}</p>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">{{ $t('date_debut_label') }}</label>
        <p class="form-control">{{ conge.dateDepart }}</p>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">{{ $t('date_reprise_label') }}</label>
        <p class="form-control">{{ conge.dateReprise }}</p>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">{{ $t('nature_conges_label') }}</label>
        <p class="form-control">{{ conge.natConges }}</p>
      </div>

      <button @click="updateConges(conge)" class="btn btn-success">{{ $t('edit') }}</button>
    </div>
  </div>
</template>