<script setup>
import {ref,reactive, computed, watch, onMounted } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';


const router = useRouter();
const id = router.currentRoute.value.params.id;

const conge = ref({
    idconges: null,
    dateDepart: '',
    dateReprise: '',
    natConges: '',
    personnel: {
        id: 0
    }
})

const personnels = ref({});
const loading_selection = ref(true);

const fetchData = async () => {
    try {

        
        const response = await axios.get(`http://127.0.0.1:8080/api/conges/${id}`);
        conge.value = response.data;

        conge.value.dateDepart = formatToYYYYMMDD(conge.value.dateDepart);
        conge.value.dateReprise = formatToYYYYMMDD(conge.value.dateReprise);

    } catch (error) {
        console.errorMessages('erreur : ', error);
    }
}

const submitForm = async () => {
    try {

        conge.value.dateDepart = formatToYYYYMMDD(conge.value.dateDepart);
        conge.value.dateReprise = formatToYYYYMMDD(conge.value.dateReprise);

        await axios.put(`http://127.0.0.1:8080/api/conges/${id}`, conge.value);
        router.replace('/conges/');
    } catch (error) {
        console.errorMessages('erreur : ', error);
    }
}

const formatToYYYYMMDD = (dateString) => {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
};


const fetchAllPersonnel = async () => {

    try {
        const response = await axios.get('http://127.0.0.1:8080/api/personnel/')
        personnels.value = response.data;
        loading_selection.value = false;
    } catch (error) {
        loading_selection.value = false;
    }
}

onMounted(() => {
    fetchData(),
    fetchAllPersonnel()
});


</script>

<template>
    <div class="container" align="left">
        <h1>Edit Conges</h1>
      <form @submit.prevent="submitForm">
        <div class="mb-3">
          <label for="title"  class="form-label">personnel*</label>
          
          <select v-if="!loading_selection" v-model="conge.personnel.id"  class="form-select">
            <option v-for="p in personnels" :key="p.id" :value="p.id">{{ p.id }}. {{ p.nom }} {{ p.prenom }}</option>
          </select>

            <center>
                <div v-if="loading_selection" class="spinner-border text-primary"  role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </center>

        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Date Depart</label>
          <input type="date" class="form-control" v-model="conge.dateDepart">
        </div>
        
        <div class="mb-3">
          <label for="price" class="form-label">Date Reprise</label>
          <input type="date" class="form-control" v-model="conge.dateReprise">
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Nature de conges</label>
          <input type="text" class="form-control" v-model="conge.natConges">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</template>

