<script setup>
import {ref,reactive, computed, watch, onMounted } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';


const router = useRouter();

const absence = ref({
    date: '',
    nombreJour: null,
    motif: '',
    personnel: {
        id: 0
    }
})

const personnels = ref({});
const loading_selection = ref(true);

const submitForm = async () => {
    try {
        absence.value.date = formatToYYYYMMDD(absence.value.date);
        console.log('requete : ', absence.value);
        await axios.post('http://127.0.0.1:8080/api/absences', absence.value);
        router.replace('/absences/');
    } catch (error) {
        console.errorMessages('erreur : ', error);
    }
}

const formatToYYYYMMDD = (dateString) => {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
};


const fetchAllPersonnel = async () => {

    try {
        const response = await axios.get('http://127.0.0.1:8080/api/personnel/')
        personnels.value = response.data;
        loading_selection.value = false;
    } catch (error) {
        loading_selection.value = false;
    }
}

onMounted(() => {
    fetchAllPersonnel();
});



</script>

<template>
    <br>
    <h1>Create Absence</h1>
    <div class="container" align="left">
        
      <form @submit.prevent="submitForm">
        <div class="mb-3">
          <label for="title"  class="form-label">personnel*</label>
          
          <select v-if="!loading_selection" v-model="absence.personnel.id" class="form-select">
            <option v-for="p in personnels" :key="p.id" :value="p.id">{{ p.id }}. {{ p.nom }} {{ p.prenom }}</option>
          </select>

          <center>
                <div v-if="loading_selection" class="spinner-border text-primary"  role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </center>

        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Date Absence</label>
          <input type="date" class="form-control" v-model="absence.date">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Nombre de Jours</label>
          <input type="number" class="form-control" v-model="absence.nombreJour">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Motif</label>
          <textarea class="form-control" v-model="absence.motif"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</template>

