<script setup>
import { ref, onMounted , computed } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';

const router = useRouter();

const absences = ref([]);


const loading = ref(true);
const progressVisible = ref(false);

const itemsPerPage = 5;
const currentPage = ref(1);

const totalPages = computed(() => Math.ceil(absences.value.length / itemsPerPage));

const displayedAbsences = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage;
  const end = start + itemsPerPage;
  return absences.value.slice(start, Math.min(end, absences.value.length));
});


const fetchAbsences = async () => {

    try {
        const response = await axios.get('http://127.0.0.1:8080/api/absences')
        console.log(response)
        absences.value = response.data;
        loading.value = false;
        console.log(absences.value)
    } catch (error) {
        
        loading.value = false;
    }
}

function parseISODate(dateString) {
  const parsedDate = new Date(dateString);

  if (!isNaN(parsedDate.getTime())) {
    return parsedDate;
  } else {
    console.error('Date invalide');
    return null;
  }
}

onMounted(() => {
  fetchAbsences();
});

const deleteAbsences = async (absence) => {
    try {
        
        const confirmed = window.confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');
        if(confirmed){
            progressVisible.value = true;
            await axios.delete(`http://127.0.0.1:8080/api/absences/${absence.idabsence}`);
            fetchAbsences();
        }
    } catch (error) {
        console.error('Error deleting product:', error);
    } finally{

      progressVisible.value = false;
    }
}

const ShowAbsence = (absence) => {
    const id = ref(0)

  router.push({ name: 'absencesShow', params: { id: absence.idabsence.toString() } });
};

const CreateAbsence = () => {
    router.push({name: 'absencesCreate'})
}

const UpdateAbsence = (absence) => {
  router.push({name: 'absencesEdite', params: { id: absence.idabsence.toString() } });
}

const prevPage = () => {
  if (currentPage.value > 1) {
    currentPage.value--;
  }
};

const nextPage = () => {
  if (currentPage.value < totalPages.value) {
    currentPage.value++;
  }
};

const gotoPage = (page) => {
  if (page >= 1 && page <= totalPages.value) {
    currentPage.value = page;
  }
};

</script>

<template>
    
    <h3>List Absence</h3>

    <center>
        <div v-if="loading" class="spinner-border text-primary"  role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

        <div v-if="progressVisible" class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%"></div>
        </div>
    </center>

<div v-if="!loading">
    <table class="table table-primary table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Personnel</th>
        <th scope="col">Date Absence</th>
        <th scope="col">Nombre jour</th>
        <th scope="col">Motif</th>
        <th scope="col">Show</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        
        <tr v-for="(absence, index) in displayedAbsences" :key="index">
              <th scope="row">{{ (currentPage - 1) * itemsPerPage + index + 1 }}</th>
        <td>{{ absence.personnel ? absence.personnel.id : "NA" }}</td>
        <td>{{ parseISODate(absence.date) }}</td>
        <td>{{ absence.nombreJour }}</td>
        <td>{{ absence.motif }}</td>
        <td><button class="btn btn-primary" @click="ShowAbsence(absence)">show</button></td>
        <td><button class="btn btn-success" @click="UpdateAbsence(absence)">edit</button></td>
        <td><button class="btn btn-danger" @click="deleteAbsences(absence)">delete</button></td>
        </tr>
    </tbody>
    </table>

            <!-- Pagination -->
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" :class="{ disabled: currentPage === 1 }">
              <button class="page-link" @click="prevPage" :disabled="currentPage === 1">
                Previous
              </button>
            </li>
  
            <li v-for="page in totalPages" :key="page" class="page-item" :class="{ active: currentPage === page }">
              <button class="page-link" @click="gotoPage(page)">{{ page }}</button>
            </li>
  
            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
              <button class="page-link" @click="nextPage" :disabled="currentPage === totalPages">
                Next
              </button>
            </li>
          </ul>
        </nav>

    <button class="btn btn-primary add_absent" @click="CreateAbsence()">
        Ajouter
    </button>
</div>


</template>

<style>
table {
    overflow-y: auto;
    overflow-x: auto;
}
h3 {
    text-align: center;
}

#loader {
    text-align: center;
}

.add_absent {
  align: center;
}
.pagination_id {
    float: right;
}
</style>