<script setup>
import { ref , onMounted } from 'vue'
import axios from 'axios'
import { useRouter } from 'vue-router'

const router = useRouter();
const id = router.currentRoute.value.params.id;
const loading = ref(true);

const absence = ref({
  idabsence: null,
  date: '',
  nombreJour: '',
  motif: '',
  personnel: null,
});

const fetchData = async () => {
    try {
        const response = await axios.get(`http://127.0.0.1:8080/api/absences/${id}`);
        absence.value = response.data;
        loading.value = false;
    } catch (error) {
        loading.value = false;
        console.error('error fetching data', error);
    }
}

onMounted(fetchData);

const UpdateAbsence = (absence) => {
  router.push({name: 'absencesEdite', params: { id: absence.idabsence.toString() } });
}
</script>

<template>
    <h1>List Absent</h1>

    <center>
        <div v-if="loading" class="spinner-border text-primary"  role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </center>

    <div v-if="!loading" class="container" align="left">

        <div class="mb-3">
          <label for="title" class="form-label">id absence</label>
          <p class="form-control">{{ absence.idabsence }}</p>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Personnel id</label>
          <p class="form-control">{{ absence.personnel ? absence.personnel.id : 'N/A' }}</p>
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Nom</label>
          <p class="form-control">{{ absence.personnel ? absence.personnel.nom : 'N/A' }}</p>
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">prenom</label>
          <p class="form-control">{{ absence.personnel ? absence.personnel.prenom : 'N/A' }}</p>
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Role</label>
          <p class="form-control">{{ absence.personnel ? absence.personnel.nom : 'N/A' }}</p>
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Adresse</label>
          <p class="form-control">{{ absence.personnel ? absence.personnel.adresse : 'N/A' }}</p>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">code postal</label>
          <p class="form-control">{{ absence.personnel ? absence.personnel.codePostal : 'N/A' }}</p>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Date d'absence</label>
          <p class="form-control">{{ absence.date }}</p>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Motif d'absence</label>
          <p class="form-control">{{ absence.motif }}</p>
        </div>
        <button @click="UpdateAbsence(absence)" class="btn btn-success">Edite</button>
    </div>
  </template>