<template>
  <footer class="d-flex bg-primary flex-wrap justify-content-between align-items-center border-top">
    <img src="../assets/ulco.png" class="ulco_img">

    <div class="container">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>
  </footer>
</template>

<style>
footer { 
  color: #fff; 
  padding: 10px; 
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #000; /* Ajoutez votre couleur de fond souhaitée */
  z-index: 1000; /* Assurez-vous que le footer soit au-dessus de tout autre contenu */
}

footer p {
  text-align: center;
}

.ulco_img {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 3px;
}
</style>
